* {
    box-sizing: border-box;
}

.box {
    width: 200px;
    height: 200px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: gold;
    transition: all .4s;
}

.box2--accent {
    width: 150px;
    height: 150px;
    background-color: aqua;
}



.accordion {
    width: 50%;
    margin: 50px auto;
    font-family: sans-serif;
}

.accordion__panel {
    margin-bottom: 30px;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .5);
}

.accordion__control,
.accordion__data {
    padding: 10px;
}

.accordion__control {
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #bbb;
    cursor: pointer;
}

.accordion__data {
    line-height: 1.5;
    display: none;
}

.accordion__data--isVisible {
    display: block;
}

.slider {
    width: 80%;
    margin: 0 auto;
}

.slider__container {
    height: 400px;
    background-size: cover;
    background-position: center;
    margin: 0;
    transition: all .5s
}

.slider__controls {
    text-align: center;
    margin-top: 30px;
}

.slider__control {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    background-color: #000;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
}

.slider__control--isActive {
    background-color: red;
}        
.prev, .next{
    position: absolute;
    color: #777;
    top: 19%;
    font-size: 40px;
    color: #000;
    transition: .3s;
    cursor: pointer;
}
.prev{
    left: 10%;
}
.next{
    right: 10%;
}.prev:hover{
    color: red;
}
.next:hover{
    color: red;

}